@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
*{
    padding:0px;
    margin: 0px;
}
body{
    background-color:rgba(100, 150, 230);
;
    font-family: 'Poppins', serif;
}
h1{
   color:rgba(252, 240, 20);
   font-size: 6rem;
   font-family: 'Poppins', sans-serif;
   font-weight: 800;
   text-shadow: 3px 3px 0px rgba(248, 165, 32);
   text-transform: capitalize;
   text-align: center;
}
h2{
  font-size: 3rem;
  color: rgba(255, 255, 255);
  padding: 1.5em 1em;
  text-align: center;
}
h3{
  font-size: 150%;

}
#navbar{
    overflow: hidden;
    display:flex;
    align-items: center;
    position: fixed;
    top:0%;
    background-color: rgba(8, 23, 75, .95);
    z-index: 50;
}
#navbar::before{
    content: "";
    position: absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    z-index: -1;

  }
#navbar ul{
    display: flex;
    margin:10px 10px;
    width: 2000px;
}
#navbar ul li{
    cursor: pointer;
    padding:25px;
    position: relative;
    left:60px;
    color:white;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color:white;
    display: block;
    text-decoration: none;
    padding: 2px 20px;
    border-radius: 20px;
    text-decoration: none;
    list-style: none;
}
#navbar li a:hover {
  transition: all 400ms ease;
  background-color: rgba(8, 23, 75, 1);
  color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding:0px 150px;
    justify-content: center;
    align-items: center;
    min-height: 20em;
}
#home h1{
   color:rgba(252, 240, 20);
   font-size: 5.5rem;
   width: 100%;
   font-family: 'Poppins', sans-serif;
   font-weight: 800;
   text-shadow: 3px 3px 0px rgba(248, 165, 32);
   text-transform: capitalize;
   text-align: center;
}
#home h2{
   color:white;
   text-decoration-line: overline;
   text-decoration-thickness: 2px;
   padding: 0rem;
   font-size: 2.3rem;
   width: 100%;
   font-family: 'Poppins', sans-serif;
   font-weight: 20;
   text-transform: capitalize;
   text-align: center;
}
#home p{
    color:white;
    font-size: 2rem;
    font-weight: 800;
    margin: 0rem, -400px;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
/* utility classes */
.button{
  display: flex;
  background-color: #ff7a59;
  padding: 1em 2em;
  border-radius: 25px;
  flex-direction: column;
  border: none;
  background: #ff7a59;
  transition: all 500ms ease;
}
.button:hover{
  color: #ff7a59;
  background:#ffbcab;
}
.advice{
    width: 90%;
    display: grid;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 2em 0em;
    margin: 3em 1em;
    place-items: center;
}
.sticky{
    width: calc(100% - 3em);
    display: flex;
    align-items: center;
    background-color: #faf570;
    padding: 1em 2em 4.4em;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    max-height: 26em;
    transition: 300ms ease-in;
    transition: 100ms ease-out;
    max-height: 20rem;
    min-height: 15rem;
    position:relative;
}
.sticky:hover {
  z-index: 2;
  transform: scale(1.45);
  transition-delay: 400ms;
}
.advice p{
  padding-top: 1em;
  font-family: Patrick Hand;
  font-size: 1em;
  overflow-x: auto;
  text-align: left;
}
.advice h1{
  font-size: 1em;
}
.advice h2{
  font-size: 80%;
  color:#617178;
  float: right;
  text-align: right;
  position:absolute;
  bottom:0;
  right:0;
  padding-right: 40px;
}
.advice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.stickyScroll{
    width: calc(100% - 3em);
    display: flex;
    align-items: center;
    background-color: #faf570;
    padding: 1em 2em 4.4em;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    max-height: 26em;
    transition: 300ms ease-in;
    transition: 100ms ease-out;
    max-height: 60rem;
    min-height: 15rem;
    position:relative;
}
.adviceScroll{
    width: 90%;
    display: grid;
    height: auto;
    grid-template-columns: repeat(1,1fr);
    gap: 2em 0em;
    margin: 3em 1em;
    place-items: center;
}
.adviceScroll p{
  padding-top: 1em;
  font-family: Patrick Hand;
  font-size: 2em;
  overflow-x: auto;
  text-align: left;
}
.adviceScroll h2{
  font-size: 1.4em;
  color:#617178;
  float: right;
  text-align: right;
  position:absolute;
  bottom:0;
  right:0;
  padding-right: 40px;
}
#about {
    text-align: center;
    padding: 2rem;

}
#about h1{
    font-size: 2.5rem;
}
#about p{
    color:white;
    font-size: 1.4rem;
    margin-top: 2rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem 8rem;
}
#about h3{
  color: rgba(248, 165, 32);
  font-size: 1.1rem;
  font-weight: 300rem;
  text-align: center;
  padding: 2rem 3rem 1.3rem;
}
#home a{
    text-decoration: none;
    color:white;
    display: block;
}
#a{
    text-decoration: none;
}
.icon{
    font-size: 2.9rem;
    margin-right: 2rem;
    cursor: pointer;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.scroll{
  background-color: white;
  border-radius: 100% 100%;
  display: block;
  text-align: center;
  padding: 1rem;
  margin-top: 7rem;
  margin-left: 81rem;
  margin-bottom: -12rem;
  height: 100%;
  width: 5%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, .3));
}

.scroll a{
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;

}

  /* Dropdown Button */
  .dropbtn {
    background-color: rgba(255, 122, 89);
    color: white;
    padding: 16px 30px;
    font-size: 20px;
    border: none;
    display: flex;
    border-radius: 0px 0px 25px 25px;
    flex-direction: column;
    transition: all 200ms ease;
    position: fixed;
    margin-top: 102.5px;
    z-index:1000;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    z-index: 5;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 150px;
    position: fixed;
    z-index: 10990;

  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ffbcab;}
  .anchor {
      scroll-margin-top: 100px;
  }

  @media only screen and (max-device-width: 600px) {
      #navbar{
          height:12rem;
        }
      #navbar ul li{
          cursor: pointer;
          padding:25px;
          position: relative;
          left:60px;
          color:white;
          list-style: none;
          font-size: 2.3rem;
      }
      #navbar ul li a{
          color:white;
          display: block;
          text-decoration: none;
          padding: 2px 20px;
          border-radius: 20px;
          text-decoration: none;
          list-style: none;
      }
      .dropbtn {
        margin-top: 11.42rem;
        transform: scale(1.3);
      }
      .dropdown-content {
        margin-top: 17rem;
        transform: scale(1.3);

      }
      .scroll{
        margin-top: 10rem;

      }
      .scroll{
        margin-left: 52rem;
        margin-top: 12rem;
        width: 7%;
      }
      h2{
        padding-top:
      }
      #home h1{
        padding-top: 4rem;
      }
       #about h1{
        padding-top: 2rem;
      }
    }
